extends layout

block content
  div
    if user
      nav.navbar.navbar-light(style="background-color: #e3f2fd;")
        h3.navbar-brand 単語帳 Web アプリ
        ul.navbar-nav
          li.nav-item
            a(href="/logout").nav-link #{user.username} をログアウト
      - var hasWordGroups = wordGroups.length > 0
      if hasWordGroups
        div.card
          div.card-header 単語帳を新しく作る
          div.card-body
            form(method="post", action="/wordgroups/new").form-row
              div.col-auto
                label 単語帳の名前
                input(type="text" name="wordGroupName" required)
              div.col-auto
                button(type="submit").btn.btn-primary 単語帳を作る
        div.card
          div.card-header 作った単語帳
          div.card-body
            div.list-group
              each wordGroup in wordGroups
                a(href=`/wordgroups/${wordGroup.wordGroupId}`).list-group-item.list-group-item-action #{wordGroup.wordGroupName}
      else
        div.card
          div.card-header まずは単語帳を作りましょう!!
          div.card-body
            form(method="post", action="/wordgroups/firstgroup")
              button(type="submit").btn.btn-primary.btn-lg.btn-block 単語帳「未分類」を作る
      - var hasFavorites = favorites.length > 0
      if hasFavorites
        div.card
          div.card-header ブックマーク
          div.card-body
            div.list-group
              each favorite in favorites
                a(href=`/wordgroups/${favorite.wordGroupId}`).list-group-item.list-group-item-action #{favorite.wordgroup.wordGroupName}
    else
      div.jumbotron.my-3
        h1 BEN2 の単語帳 Web アプリ
        p ポートフォリオサイト : 
          a(href="https://ben2suzuka.github.io") https://ben2suzuka.github.io
        p BEN2 の Twitter : 
          a(href="https://twitter.com/BEN2suzuka") https://twitter.com/BEN2suzuka
        p このサービスでは、Twitter アカウントのユーザー ID によって利用者を識別します。
      div
        a(href="/login").btn.btn-primary.btn-lg.btn-block Twitter でログイン

