extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    if user
      div
        a(href="/logout") #{user.username} をログアウト
      - var hasWordGroup = wordGroups.length > 0
      if hasWordGroup
        h5 単語登録フォーム
        form(method="post", action="/words")
          div
            h5 グループ ID
            input(type="text" name="wordGroupId")
          div
            h5 単語
            input(type="text" name="wordName")
          div
            h5 単語の答え
            input(type="text" name="wordAnswer")
          button(type="submit") 単語を登録する
        h3 単語グループ一覧
        table.table
          tr
            th 単語グループ名
          each wordGroup in wordGroups
            tr
              td
                a(href=`/words/wordgroups/${wordGroup.wordGroupId}`) #{wordGroup.wordGroupName}
      else
        h5 まずは単語グループを新規作成してください。
        form(method="post", action="/words/wordgroups/firstgroup")
          button(type="submit") 単語グループ「未分類」を新規作成
    else
      div
        a(href="/login") Twitter でログイン

