extends layout

block content
  div
    nav.navbar.navbar-light(style="background-color: #e3f2fd;")
      h3.navbar-brand 単語帳 Web アプリ
      ul.navbar-nav
        if user
          li.nav-item
            a(href="/logout").nav-link #{user.username} をログアウト
        else
          li.nav-item
            a(href="/login").nav-link Twitter でログイン
    - var isMine = user.id === wordGroup.createdBy
    div.card
      div.card-header
        a(href="/") Top
        span  / 単語帳「#{wordGroup.wordGroupName}」
      div.card-body
        p 作成者 : #{wordGroup.user.username}
        p 単語数 : #{words.length}
        if isMine
        else
          - var favoriteLabels = ['ブックマークに追加', 'ブックマークを解除']
          - var favoriteButtonStyles = ['btn-success', 'btn-warning']
          button(class=`favorite-toggle-button btn ${favoriteButtonStyles[favorite]}`
            data-user-id=user.id
            data-wordgroup-id=wordGroup.wordGroupId
            data-favorite=favorite) #{favoriteLabels[favorite]}
    if isMine
      div.card
        div.card-header 単語を追加
        div.card-body
          form(method="post", action="/words/new").form-row
            input(type="hidden" name="_csrf" value!=csrfToken)
            input(type="hidden" name="wordGroupId" value=`${wordGroup.wordGroupId}`)
            div.col-auto
              label 単語
              input(type="text" name="wordName" required)
            div.col-auto
              label 答え
              input(type="text" name="wordAnswer" required)
            div.col-auto
              button(type="submit").btn.btn-primary 追加
    - var isNotEmpty = words.length > 0
    if isNotEmpty
      div.card
        table.table
          thead
            tr
              th 削除
              th 単語
              th 答え
              th 覚えた？
          tbody
            each word in words
              - var memory = memories.get(word.wordId)
              - var memoryLabels = ['まだ！', '覚えた']
              - var buttonStyles = ['btn-warning', 'btn-success']
              tr
                td
                  if isMine
                    form(method="post", action=`/words/${word.wordId}/users/${user.id}/delete`)
                      input(type="hidden" name="_csrf" value!=csrfToken)
                      button(type="submit").btn.btn-danger －
                  else
                    p ---
                td #{word.wordName}
                td #{word.wordAnswer}
                td
                  button(class=`memory-toggle-button btn ${buttonStyles[memory]}`
                    data-user-id=user.id
                    data-word-id=word.wordId
                    data-wordgroup-id=word.wordGroupId
                    data-memory=memory) #{memoryLabels[memory]}
    if isMine
      div.card
        div.card-header 単語帳を削除
        div.card-body
          p 注意 : 単語帳に含まれる単語も全て削除されます
          form(method="post", action=`/wordgroups/${wordGroup.wordGroupId}/delete`)
            input(type="hidden" name="_csrf" value!=csrfToken)
            button(type="submit").btn.btn-danger 単語帳を削除
