extends layout

block content
  h4 #{wordGroup.wordGroupName}
  p 作成者: #{wordGroup.user.username}
  h4 このグループには #{words.length} 個の単語が登録されています
  div
    a(href="/") トップページへ戻る
  - var isMine = user.id === wordGroup.user.userId
  if isMine
    h5 単語登録フォーム
    form(method="post", action="/words/new")
      div
        h5 登録グループ
        p #{wordGroup.wordGroupName}
        input(type="hidden" name="wordGroupId" value=`${wordGroup.wordGroupId}`)
      div
        h5 単語
        input(type="text" name="wordName")
      div
        h5 単語の答え
        input(type="text" name="wordAnswer")
      button(type="submit") 単語を登録する
  table
    tr
      th 削除
      th 単語
      th 単語の答え
      th 覚・不覚
    each word in words
      - var memory = memories.get(word.wordId)
      - var memoryLabels = ['まだ', 'OK!']
        tr
          td
            if isMine
              form(method="post", action=`/words/${word.wordId}/users/${user.id}/delete`)
                button(type="submit") 削除
            else
              p ---
          td #{word.wordName}
          td #{word.wordAnswer}
          td
            button(
              data-user-id=user.id
              data-word-id=word.wordId
              data-wordgroup-id=word.wordGroupId
              data-memory=memory).memory-toggle-button #{memoryLabels[memory]}
  if isMine
    form(method="post", action=`/wordgroups/${wordGroup.wordGroupId}/delete`)
      button(type="submit") グループを削除
